/*------------------------------------------------------------------
[6.1 Slider]
*/
.slider {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	
	.skip-slider {
		left: 5%;
		bottom: 5%;
		right: auto;
		top: auto;
		z-index: 100;
	}
	
	h1, h2, h3, h4, h5, h6, p {
		color: #fff;
	}
	
	h1 {
		.fontSize( 10 );
		line-height: 90px;
	}
	
	> .sequence-canvas {
		list-style: none;
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		> li {
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			position: absolute;
			z-index: 1;
			background-size: cover;
			background-repeat: no-repeat;
	    opacity: 0;
	    -webkit-transition-duration: 0.5s;
	    -moz-transition-duration: 0.5s;
	    -ms-transition-duration: 0.5s;
	    -o-transition-duration: 0.5s;
	    transition-duration: 0.5s;
	    -webkit-transition-property: "opacity";
	    -moz-transition-property: "opacity";
	    -ms-transition-property: "opacity";
	    -o-transition-property: "opacity";
	    transition-property: "opacity";
	    -webkit-transition-timing-function: linear;
	    -moz-transition-timing-function: linear;
	    -ms-transition-timing-function: linear;
	    -o-transition-timing-function: linear;
	    transition-timing-function: linear;
		}
		> li.animate-in {
			opacity: 1;
		}
		> li.animate-out {
			opacity: 0;
		}
	}
	> .sequence-canvas li > * {
		position: absolute;
	}
}

.sequence-pagination {
	position: absolute;
	right: 5%;
	bottom: 5%;
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 100;
	
	li {
		position: relative;
		display: inline-block;
		cursor: pointer;
		width: 11px;
		height: 11px;
		padding: 0;
		line-height: 11px;
		background-color: rgba(255,255,255,40%);
		border-radius: 50%;
		margin: 0 7px;
		border: none;
		outline: none;
		.transition( background-color 0.2s );
	}
	li:hover,
	li.current {
		background-color: @color_accent_green;
	}
	
}
@media screen and (max-width: 992px) {
	.slider {
		h1 {
			.fontSize( 7 );
			line-height: 70px;
		}
	}
}
@media screen and (max-width: 650px) {
	.slider {
		h1 {
			.fontSize( 5 );
			line-height: 50px;
		}
		h1, h2, h3, h4, h5, h6, p, .layer {
			text-align: center;
		}
	}
}

/**
	Slider button
**/
.slider-button {
	.bgrgba( #000, 1.5 );
	padding: 20px 30px 20px 65px;
	.rounded( 40px );
	.box-sizing();
	display: inline-block;
	line-height: 16px;
	color: #fff;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: 30px 20px;
	font-variant: small-caps;
}
.slider-button.apple {
	.img-apple( #fff );
	margin-right: 20px;
}
.slider-button.apple:hover {
	.img-apple( @color_accent_green );
}
.slider-button.android {
	.img-android( #fff );
}
.slider-button.android:hover {
	.img-android( @color_accent_green );
}

/**
	Buy button
**/
.buy-button {
	.bgrgba( #000, 1.5 );
	padding: 20px 30px 20px 65px;
	.rounded( 40px );
	.fontSize( 1.8 );
	.box-sizing();
	display: inline-block;
	color: #fff;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: 25px 18px;
	font-variant: small-caps;
}
.buy-button.apple {
	.img-apple( #fff );
	margin-right: 20px;
}
.buy-button.apple:hover {
	.img-apple( @color_accent_green );
}
.buy-button.android {
	.img-android( #fff );
}
.buy-button.android:hover {
	.img-android( @color_accent_green );
}

/*------------------------------------------------------------------
[6.2 Home Agency Slider Layers]
*/
.home-agency .slider {
	.layer {
		width: 660px;
		opacity: 0;
	}
	.animate-in .layer {
		opacity: 1;
	}
	.layer {
		top: 20%;
		right: 10.5%;
		.transition-all( 0.7s );
	}
	.animate-in .layer {
		top: 30%;
	}
}
@media screen and (max-width: 800px) {
	.home-agency .slider {
		.animate-in .layer {
			width: auto;
			left: 15px;
			right: 15px;
			top: 22%;
		}	
	}
}
@media screen and (max-width: 360px) {
	.home-agency .slider {
		.layer {
			p, .button {
				display: none;
			}
		}
	}
}
/*------------------------------------------------------------------
[6.3 Home App Slider Layers]
*/
.home-app .slider {
	.layer1 {
		opacity: 0;
		bottom: -400px;
		left: 10%;
		.transition-all( 1s );
	}
	.animate-in .layer1 {
		bottom: -100px;
		opacity: 1;
	}
	.layer2 {
		width: 660px;
		opacity: 0;
		top: 20%;
		right: 10.5%;
		.transition-all( 0.7s );
	}
	.animate-in .layer2 {
		opacity: 1;
		top: 30%;
	}
}
@media screen and (max-width: 1299px) {
	.home-app .slider {
		.layer1 {
			display: none;
		}
		.layer2 {
			text-align: center;
			width: auto;
		}
		.animate-in .layer2 {
			right: 15px;
			left: 15px;
			top: 28%;
		}
	}
}
@media screen and (max-width: 430px) {
	.home-app .slider {
		.layer {
			p, .slider-button {
				display: none;
			}
		}
	}
}
/*------------------------------------------------------------------
[6.4 Home Personal Slider Layers]
*/
.home-personal .slider {
	.layer {
		width: 750px;
		opacity: 0;
	}
	.animate-in .layer {
		opacity: 1;
	}
	.layer {
		top: 20%;
		left: 14.5%;
		.transition-all( 0.7s );
	}
	.animate-in .layer {
		top: 30%;
	}
}
@media screen and (max-width: 992px) {
	.home-personal .slider {
		.animate-in .layer {
			width: auto;
			left: 15px;
			right: 15px;
			top: 22%;
		}	
	}
}
@media screen and (max-width: 360px) {
	.home-personal .slider {
		.layer {
			p, .button {
				display: none;
			}
		}
	}
}
/*------------------------------------------------------------------
[6.5 Text, videos sections styles]
*/
.home .section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	.box-sizing();
}
.home-agency #agency {
	background-image: url(../images/demo-images/home_1_section_bg_1.jpg);
	padding: 90px 0;
}
@media screen and (max-width: 767px) {
	.home-agency #agency {
		background-image: none;
	}
}
.home-personal #about {
	background-color: #fafaf6;
	background-image: url(../images/demo-images/home_3_section_bg_1.jpg);
	padding: 165px 0;
}
@media screen and (max-width: 767px) {
	#about {
		padding: 100px 0 !important;
	}
	.home-personal #about {
		background-image: none;
	}
}
.home-agency #process, .home-app #how-it-works, .home-personal #services {
	position: relative;
	padding: 15% 0;
	text-align: center;
	background-image: url(../images/demo-images/home_1_section_bg_2.jpg);
	.button-video-play {
		margin-bottom: 35px;
	}
}
.home-app #how-it-works {
	background-image: url(../images/demo-images/home_2_section_bg_1.jpg);
}
.home-personal #services {
	background-image: url(../images/demo-images/home_2_section_bg_2.jpg);
}
.video-description {
	font-variant: small-caps;
}
.home-agency #process *, .home-app #how-it-works *, .home-personal #services * {
	color: #fff;
}
/*------------------------------------------------------------------
[6.6 Benefits sections]
*/
.home-app #features {
	padding: 130px 0 400px 0;
	background: url(../images/demo-images/iphone.png) center 90% no-repeat;
}
@media screen and (max-width: 992px) {
	.home-app #features {
		padding: 130px 0;
		background: none;
		.benefits header br {
			display: none;
		}
	}
}
.benefits {
	header {
		text-align: center;
		margin-bottom: 60px;
	}
}
.benefit-item {
	h6 {
		margin-bottom: 11px;
		.transition-all( .3s );
	}
}
.benefit-icon {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: block;
	width: 70px;
	height: 70px;
	.transition( transform .4s ease-in-out );
}
.benefit-item:hover {
	.benefit-icon {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
	}
}
.home-app .benefits-grid {
	.benefit-item {
		padding-left: 100px;
		position: relative;
		margin-bottom: 50px;
	}
	.benefit-icon {
		position: absolute;
		left: 0;
		top: 0;
	}
	.benefit-item:hover {
		h6 {
			color: @color_accent_pink_alt;
		}
	}
}
.home-personal {
	#benefits {
		padding: 120px 0;
		text-align: center;
		.bottom-top-gradient( #f2f2f2, #fff);
	}
	.benefit-icon {
		display: inline-block;
		margin-bottom: 25px;
	}
	.benefit-text p {
		margin-bottom: 15px;
	}
	.benefit-item {
		margin-bottom: 35px;
		padding-top: 35px;
		
		span.line_wrap {
		  position: relative;
		  display: inline-block;        
		}
		span.line {
			display: inline-block;
		  position: absolute;
		  left: 0;
		  top: 48%;
		  width: 0;
		  border-top: 1px solid @color_accent_yellow;
		  -webkit-transition: width 0.2s ease-in;
		  transition: width 0.2s ease-in;
		}
		
		.read-more {
			font-variant: small-caps;
		}
		h6, .read-more {
			color: @color_headers_text;
		}
		.read-more {
			.fontSize( 1.8 );
		}
	}
	.benefit-item:hover {
		h6, .read-more {
			color: @color_accent_yellow;
		}
		span.line {
			width: 100%;
		}
	}
	.benefits-grid .col {
		border-bottom: 1px solid lighten( @color_borders, 15% );
		border-right: 1px solid lighten( @color_borders, 15%);
	}
	.benefits-grid .row:last-of-type {
		.col {
			border-bottom: 0;
		}
	}
	.benefits-grid .row .col:last-of-type {
		border-right: 0;
	}
}
@media screen and (max-width: 992px) {
	.home-personal {
		.benefits-grid .col {
			border-bottom: 0;
			border-right: 0;
		}
		.benefit-item {
			padding-top: 0;
		}
	}
}

/*------------------------------------------------------------------
[6.7 Icons]
*/
.benefit-clock {
	.img-clock( @color_accent_pink_alt, @color_accent_orange );
}
.benefit-docs {
	.img-docs( @color_accent_pink_alt, @color_accent_orange );
}
.benefit-tray {
	.img-tray( @color_accent_pink_alt, @color_accent_orange );
}
.benefit-webcam {
	.img-webcam( @color_accent_pink_alt, @color_accent_orange );
}
.benefit-eye {
	.img-eye( @color_accent_pink_alt, @color_accent_orange );
}
.benefit-chat {
	.img-chat( @color_accent_pink_alt, @color_accent_orange );
}

.home-personal {
	.benefit-star {
		.img-star( @color_accent_orange, @color_accent_yellow );
	}
	.benefit-eye {
		.img-eye( @color_accent_orange, @color_accent_yellow );
	}
	.benefit-chat {
		.img-chat( @color_accent_orange, @color_accent_yellow );
	}
	.benefit-equalizer {
		.img-equalizer( @color_accent_orange, @color_accent_yellow );
	}
	.benefit-graph {
		.img-graph( @color_accent_orange, @color_accent_yellow );
	}
	.benefit-phone {
		.img-phone( @color_accent_orange, @color_accent_yellow );
	}
}
/*------------------------------------------------------------------
[6.8 Contacts sections]
*/
.home-agency {
	#contact {
		padding: 200px 0;
		background: #1c1c1c url(../images/demo-images/home_1_section_bg_4.jpg) center center no-repeat;
		color: #fff;
		h1, h2, h3, h4, h5, h6 {
			color: #fff;
		}
	}
}
.home-app {
	#contact {
		padding: 200px 0 165px 0;
		background: #441a59 url(../images/demo-images/home_2_section_bg_4.jpg) center center no-repeat;
		color: #fff;
		h1, h2, h3, h4, h5, h6 {
			color: #fff;
		}
	}
}
.home-personal {
	#contact {
		padding: 200px 0;
		background: #1a1b1b url(../images/demo-images/home_3_section_bg_4.jpg) center center no-repeat;
		color: #fff;
		h1, h2, h3, h4, h5, h6 {
			color: #fff;
		}
	}
}
#contact form {
	.row {
		margin-bottom: 35px;
	}
}
@media screen and (max-width: 992px) {
	#contact {
		padding: 100px 0 !important;
	}
	#contact form {
		.row {
			margin-bottom: 0;
		}
		input, textarea, button {
			margin-top: 35px;
		}
	}
	.home-agency #contact, .home-personal #contact {
		padding: 100px 0;
		background-image: none;
	}
	#contact .contact-information {
		padding-top: 80px;
	}
}
.contact-information {
	.item {
		.fontSize( 1.8 );
		line-height: 30px;
		padding-left: 100px;
		background-size: 70px 70px;
		background-repeat: no-repeat;
		background-position: left top;
		font-variant: small-caps;
		font-family: @secondary_font;
		min-height: 70px;
	}
	a {
		color: #fff;
	}
	a:hover {
		color: @color_accent_green;
	}
	.address {
		.img-compass( #fff );
	}
	.phones {
		.img-tel( #fff );
	}
	.email {
		.img-envelope( #fff );
	}
}
/*------------------------------------------------------------------
[6.9 Our Team]
*/
.home-agency {
	#team {
		background: @footer_bottom_bar_bg url(../images/demo-images/team_bg_1.jpg) center center no-repeat;
		background-size: cover;
		padding-top: 230px;
		padding-bottom: 100px;
		.transition( background-image 0.3s );
		
		.owl-pagination {
			display: none;
		}
		
		.items {
			margin-bottom: 140px;
			
			.position {
				.fontSize( 2.4 );
				color: @color_accent_green;
				font-family: @secondary_font;
				margin-bottom: 20px;
				font-variant: small-caps;
			}
			
			h2 {
				margin-bottom: 25px;
				font-variant: small-caps;
			}
			
			h1, h2, h3, h4, h5, h6, p {
				color: #fff;
			}
			
			p {
				line-height: 30px;
			}
			
			.social-icons {
				display: inline-block;
				margin-left: 30px;
			}
			
			.links {
				padding-top: 40px;
			}
			
		}
		
		.team-pagination {
			a {
				float: left;
				margin-right: 30px;
				position: relative;
				span {
					position: absolute;
					z-index: 10;
					top: 5px;
					right: 5px;
					bottom: 5px;
					left: 5px;
					.rounded( 50% );
					.bgrgba( #000, 6.0 );
					opacity: 1;
					.transition( opacity 0.2s );
				}
				img {
					.rounded( 50% );
					float: left;
					position: relative;
					z-index: 1;
					border: 5px solid transparent;
					.transition( border-color 0.2s );
				}
			}
			a:hover, a.current {
				span {
					opacity: 0;
				}
				img {
				  border-color: @color_accent_green;
				}
			}
		}
		
	}
}
@media screen and (max-width: 992px) {
	.home-agency {
		#team {
			.team-pagination {
				display: none;
			}
		}	
	}
}
@media screen and (max-width: 475px) {
	.home-agency {
		#team {
			.items {
				.social-icons {
					display: block;
					margin-left: 0;
					margin-top: 30px;
				}
			}
		}	
	}
}
/*------------------------------------------------------------------
[6.10 Testimonials]
*/
.testimonials-carousel {
	margin: 0 0 160px 0;
	.fontSize( 3.6 );
	line-height: 1em;
	font-variant: small-caps;
	.text {
		margin-bottom: 30px;
		padding: 0 150px;
	}
	.author {
		.fontSize( 1.6 );
		line-height: 1em;
	}
	.owl-controls {
		position: static;
		display: block;
		text-align: center;
	}
	.owl-pagination {
		position: absolute;
		width: 100%;
		bottom: -50px;
	}
	.owl-prev, .owl-next {
		position: absolute;
		top: 30%;
		margin-top: -31px;
		width: 34px;
		height: 62px;
		background-size: 34px 62px;
		opacity: 0.7;
		.transition( opacity 0.2s );
	}
	.owl-prev {
		left: 0;
		.img-prev( #fff );
	}
	.owl-next {
		right: 0;
		.img-next( #fff );
	}
	.owl-prev:hover, .owl-next:hover {
		opacity: 1;
	}
}
.testimonials-carousel.with-thumbs {
	.author {
		padding-left: 100px;
		position: relative;
		min-height: 70px;
		display: inline-block;
		width: 230px;
		text-align: left;
		line-height: 70px;
		img {
			position: absolute;
			left: 0;
			top: 0;
			.rounded( 50% );
		}
	}
	.author-name {
		display: inline-block;
		vertical-align: middle;
		line-height: 24px;
	}
	.text {
		margin-bottom: 60px;	
		padding: 0 250px;
	}
	.owl-pagination {
		margin-bottom: -40px;
	}
}
@media screen and (max-width: 992px) {
	.testimonials-carousel.with-thumbs {
		.text {
			padding: 0 80px;
		}
	}
	.testimonials-logos {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	.testimonials-carousel, .testimonials-carousel.with-thumbs {
		margin-bottom: 0;
		.owl-prev, .owl-next {
			display: none;
		}
		.text {
			padding: 0;
		}
	}
	.testimonials-carousel.with-thumbs {
		.author {
			padding-left: 0;
			text-align: center;
			img {
				display: none;
			}
		}
		h1, h2, h3, h4, h5, h6, .text {
			margin-bottom: 30px;
		}
		.owl-pagination {
			margin-bottom: -30px;
		}
	}
}
.home-agency {
	#clients {
		background: url(../images/demo-images/home_1_section_bg_3.jpg) center center no-repeat;
		background-size: cover;
		padding: 190px 0;
		color: #fff;
		text-align: center;
		
		h1, h2, h3, h4, h5, h6 {
			color: #fff;
		}
	}
}
@media screen and (max-width: 767px) {
	.home-agency {
		#clients {
			padding: 100px 0;
		}
	}
}
.home-app {
	#testimonials {
		background: url(../images/demo-images/home_2_section_bg_3.jpg) center center no-repeat;
		background-size: cover;
		padding: 300px 0;
		color: #fff;
		text-align: center;
		
		h1, h2, h3, h4, h5, h6 {
			color: #fff;
			margin-bottom: 80px;
		}
	}
}
@media screen and (max-width: 767px) {
	.home-app {
		#testimonials {
			padding: 100px 0;
		}
	}
}
.home-personal {
	#clients {
		background: url(../images/demo-images/home_3_section_bg_3.jpg) center center no-repeat;
		background-size: cover;
		padding: 190px 0;
		color: #fff;
		text-align: center;
		
		h1, h2, h3, h4, h5, h6 {
			color: #fff;
		}
	}
}
@media screen and (max-width: 767px) {
	.home-personal {
		#clients {
			padding: 100px 0;
		}
	}
}
/*------------------------------------------------------------------
[6.11 Facts in digits]
*/
.facts-in-digits {
	padding: 50px 0 80px 0;
	font-variant: small-caps;
	.icon {
		display: inline-block;
		width: 100px;
		height: 100px;
		margin-bottom: 25px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.num {
		.fontSize( 4.8 );
		margin-bottom: 11px;
	}
	.icon-downloads {
		.img-tray( @color_accent_pink, @color_accent_orange );
	}
	.icon-star {
		.img-fav( @color_accent_pink, @color_accent_orange );
	}
	.icon-users {
		.img-users( @color_accent_pink, @color_accent_orange );
	}
	.icon-share {
		.img-share( @color_accent_pink, @color_accent_orange );
	}
}

@media screen and (max-width: 992px) {
	.facts-in-digits .col {
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 767px) {
	.facts-buttons {
		text-align: center;
		a {
			display: block;
			margin-right: 0 !important;
			text-align: left;
			margin-bottom: 15px;
		}
	}
}

.home-app {
	#statistics {
		padding: 220px 0;
		color: #fff;
		text-align: center;
		background: #441853 url(../images/demo-images/home_2_section_bg_2.jpg) center center no-repeat;
		
		h1, h2, h3, h4, h5, h6 {
			color: #fff;
		}
	}
}
@media screen and (max-width: 992px) {
	.home-app #statistics {
		background-image: none;
	}
}
@media screen and (max-width: 767px) {
	.home-app {
		#statistics {
			padding: 100px 0;
		}
	}
}

/*------------------------------------------------------------------
[6.12 News carousel]
*/
.home-agency #news, .home-personal #blog, .home-app #news {
	padding: 140px 0;
	text-align: center;
	background-color: @bg_alter;
	
	.swiper-slide {
		width: 370px;
	}
	
	.news-item {
		width: 370px;
		.box-sizing();
		padding: 0 20px;
	}
	
	.thumbnail {
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 22px;
		position: relative;
		
		img {
			display: block;
		}
		
		.overlay {
			position: absolute;
			z-index: 1;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			.bgrgba( #000, 7.0 );
			opacity: 0;
			.transition( opacity 0.3s );
		}
		
		.lightbox, .permalink {
			position: absolute;
			z-index: 700;
			width: 40px;
			height: 40px;
			top: 50%;
			margin-top: -20px;
			opacity: 0;
			.transition( 0.3s );
			background-size: 100% 100%;
			
		}
		
		.lightbox:hover, .permalink:hover {
			opacity: 1 !important;
		}
		
		.lightbox {
			left: 5px;
			.img-post-zoom( #fff );
		}
		
		.permalink {
			right: 5px;
			.img-post-link( #fff );
		}
		
	}
	
	.swiper-slide:hover {
		.thumbnail .overlay {
			opacity: 0.9;
		}
		.thumbnail {
			.lightbox {
				left: 140px;
				opacity: 0.5;
			}
			.permalink {
				right: 140px;
				opacity: 0.5;
			}	
		}
	}
	
	h4 {
		margin-bottom: 18px;
		font-variant: small-caps;
	}
	
	a {
		color: @color_headers_text;
	}
	a:hover {
		color: @color_accent_green;
	}
	
	.style-yellow {
		a:hover {
			color: @color_accent_yellow;
		}
	}
	.style-orange {
		a:hover {
			color: @color_accent_orange;
		}
	}
	
	.separator {
		margin: 0 14px;
	}
	
	.news-carousel {
		padding-top: 60px;
	}
	
	.read-more {
		display: inline-block;
		width: 30px;
		height: 23px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: left top;
		margin-top: 30px;
		.img-arrow-right( @color_headers_text );
	}
	
	.read-more:hover {
		.img-arrow-right( @color_accent_green );
	}
	
	.style-yellow .read-more:hover {
		.img-arrow-right( @color_accent_yellow );
	}
	
	.style-orange .read-more:hover {
		.img-arrow-right( @color_accent_orange )
	}
	
}

.news-carousel {
	text-align: left;
}
.news-carousel:before,
.news-carousel:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 200px;
	.bgrgba( @bg_alter, 9.0 );
	z-index: 600;
}
.news-carousel:before {
	left: 0;
}
.news-carousel:after {
	right: 0;
}
@media screen and (max-width: 992px) {
	.news-carousel:before,
	.news-carousel:after {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	
	.home-agency #news, .home-personal #blog, .home-app #news {		
		.swiper-slide {
			width: 320px !important;
		}
		.news-item {
			width: 320px !important;
		}
		
		.swiper-slide:hover {
			.thumbnail {
				.lightbox {
					left: 110px;
				}
				.permalink {
					right: 110px;
				}	
			}
		}
		
	}
	
}
/*------------------------------------------------------------------
[6.13 Screenshots carousel]
*/
#screenshots {
	padding: 95px 0 0 0;
	text-align: center;
	position: relative;
	background-color: @bg_alter;
}
.screenshots-carousel {
	.swiper-slide {
		width: 380px;
		height: 750px;
		overflow: hidden;
		opacity: 0.1;
		padding-top: 115px;
		.transition( opacity 0.3s );
	}
	.swiper-slide.swiper-slide-active {
		opacity: 1;
	}
	.iphone-mask {
		position: absolute;
		z-index: 700;
		left: 50%;
		margin-left: -249px;
		bottom: 0;
		background-image: url(../images/demo-images/iphone-mask.png);
		width: 499px;
		height: 750px;
	}
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.screenshots-carousel {
		.iphone-mask {
			background-image: url(../images/demo-images/iphone-mask@2x.png);
			background-size: 499px 837px;
		}
	}
}
@media screen and (max-width: 380px) {
	.screenshots-carousel {
		.swiper-slide {
			padding-top: 0;
			width: 320px;	
		}
	}
	.iphone-mask {
		display: none;
	}
}
/*------------------------------------------------------------------
[6.14 Pricing tables]
*/
#pricing {
	padding: 95px 0;
	text-align: center;
}
div.pricing-table {
	padding-top: 30px;
	text-align: left;
}
ul.pricing-table {
	margin: 0;
	padding: 0;
	list-style: none;
	
	.button {
		padding: 14px 40px;
	}
	
	.table-button {
		text-align: center;
	}
	
	.table-column {
		margin-top: 20px;
		position: relative;
		z-index: 1;
		margin-bottom: 20px;
		float: left;
		width: 25%;
		background-color: @bg_alter;
		padding-bottom: 30px;
		.box-sizing();
		border: 1px solid #f6f6f6;
		border-right: 0;
		
		.thumbnail img {
			.transition-all( 0.2s );	
		}
	}
	
	.table-column.first {
		.border-radius( 0, 0, 20px, 20px );
		.thumbnail img {
			.border-radius( 0, 0, 0, 20px );
		}
	}
	.table-column.last {
		.border-radius( 20px, 20px, 0, 0 );
		border-right: 1px solid #f6f6f6;
		.thumbnail img {
			.border-radius( 20px, 0, 0, 0 );
		}
	}
	
	.table-row.description, .table-row.features {
		margin-bottom: 20px;
	}
	.table-row.features {
		.fontSize( 1.4 );
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		
		li {
			padding-left: 30px;
			background-repeat: no-repeat;
			background-size: 12px 12px;
			background-position: left 5px;
		}
		
		li.check {
			.img-check( @color_accent_green );
		}
		
		li.cross {
			.img-cross( @color_accent_red );
		}
		
	}
	.table-row.description, .table-row.features {
		border-bottom: 1px solid #f6f6f6;
		padding-bottom: 20px;
	}
	
	.table-row.thumbnail {
		overflow: hidden;
		height: 217px;
		position: relative;
		margin: -1px -1px 20px -1px;
		img {
			display: block;
		}
	}
	
	.table-row {
		padding: 0 30px;
	}
	
	.table-row.thumbnail {
		padding: 0;
	}
	
	.thumbnail:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		bottom: 0;
		.transition-all( 0.2s );
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.42) 60%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0.42)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.42) 60%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.42) 60%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.42) 60%,rgba(0,0,0,0.7) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.42) 60%,rgba(0,0,0,0.7) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */
		z-index: 1;
	}
	
	.table-column:hover .thumbnail:after {
		top: 0;
	}
	
	.table-column.featured:hover .thumbnail:after {
		.border-radius( 20px, 0, 0, 20px );
	}
	.table-column.first:hover .thumbnail:after {
		.border-radius( 0, 0, 0, 20px );
	}
	.table-column.last:hover .thumbnail:after {
		.border-radius( 20px, 0, 0, 0 );
	}
	
	.thumb-text {
		position: absolute;
		bottom: 25px;
		left: 30px;
		right: 30px;
		color: #fff;
		z-index: 10;
		font-variant: small-caps;

		h4 {
			color: #fff;
			margin-bottom: 0;
		}
		span {
			color: @color_accent_green;
		}
	}
	
	.table-column.featured {
		margin-top: 0;
		padding-bottom: 50px;
		.rounded( 20px );
		z-index: 20;
		-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
		
		.thumbnail {
			height: 237px;
		}
		
		.thumbnail img {
			.border-radius( 20px, 0, 0, 20px );
		}
		
	}
	
}
ul.pricing-table:after {
	content: '';
	display: block;
	clear: both;
}

.pricing-table.style-colorful {
	.price {
		.fontSize(6);
		line-height: 1.15em;
		font-family: @third_font;
		margin-bottom: 25px;
	}
	
	.column-1 {
 		.price {
 			color: @color_accent_green;
 		}
 		.thumbnail {
 			.bottom-top-gradient( #8dc73f, #3bb678);
 		}
	}
	.column-2 {
 		.price {
 			color: @color_accent_purple;
 		}
 		.thumbnail {
 			.bottom-top-gradient( #9c26b0, #6437b1);
 		}
	}
	.column-3 {
 		.price {
 			color: @color_accent_orange;
 		}
 		.thumbnail {
 			.bottom-top-gradient( #ff9700, #fecc17);
 		}
	}
	.column-4 {
 		.price {
 			color: @color_accent_blue;
 		}
 		.thumbnail {
 			.bottom-top-gradient( #00b6e8, #5674b9);
 		}
	}
	.table-row.thumbnail {
		height: 140px;	
	}
	.table-column.featured .table-row.thumbnail {
		height: 160px;	
	}
	.thumb-text {
		bottom: auto;
		top: 27px;
	}
	.table-column.featured .thumb-text {
		top: 47px;
	}
}

.pricing-table.style-colorful,
.pricing-table.style-clean {
	.thumbnail:after {
		display: none !important;
	}
	.table-column.featured {
		.rounded( 20px );
	}
	.table-column.featured .table-row.thumbnail {
		.border-radius( 20px, 0, 0, 20px );
	}
	.table-column.first {
		.border-radius( 0, 0, 20px, 20px );
	}
	.table-column.first .table-row.thumbnail {
		.border-radius( 0, 0, 0, 20px );
	}
	.table-column.last {
		.border-radius( 20px, 20px, 0, 0 );
	}
	.table-column.last .table-row.thumbnail {
		.border-radius( 20px, 0, 0, 0 );
	}
}

.pricing-table.style-clean {
	.thumbnail {
		background-color: @bg_alter_2;
		text-align: center;
	}
	.price {
		.fontSize(6);
		line-height: 1.15em;
		font-family: @third_font;
		margin-bottom: 0;
	}
	.column-1 {
 		.price {
 			color: @color_accent_green;
 		}
 		.table-row.thumbnail {
 			border-top: 3px solid @color_accent_green;
 		}
	}
	.column-2 {
 		.price {
 			color: @color_accent_purple;
 		}
 		.table-row.thumbnail {
 			border-top: 3px solid @color_accent_purple;
 		}
	}
	.column-3 {
 		.price {
 			color: @color_accent_orange;
 		}
 		.table-row.thumbnail {
 			border-top: 3px solid @color_accent_orange;
 		}
	}
	.column-4 {
 		.price {
 			color: @color_accent_blue;
 		}
 		.table-row.thumbnail {
 			border-top: 3px solid @color_accent_blue;
 		}
	}
	.thumb-text h4, .thumb-text .desc {
		color: @color_headers_text;
	}
	.table-row.thumbnail {
		margin: 0 0 20px 0 !important;
	}
	.thumb-text {
		bottom: 30px;
	}
}

@media screen and (max-width: 992px) {
	ul.pricing-table,
	.pricing-table.style-colorful ul.pricing-table,
	.pricing-table.style-clean ul.pricing-table {
		.table-column {
			width: 50%;
			.thumbnail img {
				width: 100%;
				height: auto;
			}
		}
		.table-column,
		.table-column:hover,
		.table-column.first,
		.table-column.first:hover,
		.table-column.last,
		.table-column.last:hover {
			.border-radius( 0, 0, 0, 0 );
			.thumbnail, .thumbnail img, .thumbnail:after {
				.border-radius( 0, 0, 0, 0 );
			}
		}
		.table-column.featured,
		.table-column.featured:hover {
			.rounded( 20px );
		}
		.table-column.featured:hover .thumbnail:after, .table-column.featured:hover .thumbnail, .table-column.featured:hover .thumbnail img {
			.border-radius( 20px, 0, 0, 20px );
		}
	}
}
@media screen and (max-width: 767px) {
	.pricing-table.style-colorful ul.pricing-table,
	.pricing-table.style-clean ul.pricing-table {
		.thumb-text h4 {
			.fontSize(4.8);
			line-height: 1.15em;
		}
	}
}
@media screen and (max-width: 600px) {
	ul.pricing-table,
	.pricing-table.style-colorful ul.pricing-table,
	.pricing-table.style-clean ul.pricing-table {
		.table-column {
			width: 100%;
		}
	}
}
/*------------------------------------------------------------------
[6.15 Portfolio section]
*/
.home-agency #works,
.home-personal #portfolio {
	padding: 90px 0;
	background-color: @bg_alter;
}
.portfolio-header {
	margin-bottom: 65px;
	h2 {
		margin-bottom: 0;
	}
	a {
		font-variant: small-caps;
		color: @color_headers_text;
	}
	a:hover, a.selected {
		color: @color_accent_green;
	}
	span.line_wrap {
	  position: relative;
	  display: inline-block;        
	}
	span.line {
		display: inline-block;
	  position: absolute;
	  left: 0;
	  top: 48%;
	  width: 0;
	  border-top: 1px solid @color_accent_green;
	  -webkit-transition: width 0.2s ease-in;
	  transition: width 0.2s ease-in;
	}
	a:hover, a.selected {
		span.line {
			width: 100%;
		}
	}
}
.portfolio-header.style-left {
	text-align: left;
	line-height: 80px;
	h2 {
		float: left;
	}
	.filters {
		float: right;
		line-height: 80px;
		a {
			display: inline-block;
			vertical-align: middle;
			line-height: 18px;
			margin: 0 0 0 30px;
		}
	}
}
@media screen and (max-width: 992px) {
	.portfolio-header.style-left {
		h2, .filters {
			float: none;
			display: block;
		}
		h2 {
			margin-bottom: 25px;
		}
		.filters {
			line-height: 35px;
		}
		.filters a {
			margin-left: 0;
			margin-right: 30px;
		}
	}
}
.portfolio-pagination {
	text-align: center;
	padding: 0 15px;
	margin-top: 60px;
}
.portfolio-load-more {
	text-align: center;
	font-variant: small-caps;
	
	span {
		display: block;
		color: @color_headers_text;
		.transition( color .4s ease-in-out );
	}
	i.icon {
		.transition( transform .4s ease-in-out );
	}
}
.portfolio-load-more:hover {
	span {
		color: @color_accent_green;
	}
	i.icon {
	  transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	}
}
.portfolio-load-more i.icon {
	.img-load( @color_accent_blue, @color_accent_green );
	background-position: center top;
	background-size: 65px 65px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 65px;
	height: 65px;
	margin-bottom: 8px;
}
.home-personal .portfolio-load-more i.icon {
	.img-load( @color_accent_pink_alt, @color_accent_orange );
}
.home-personal {
	.portfolio-header {
		span.line {
			border-color: @color_accent_orange;
		}
		.filters a:hover, .filters a.selected {
			color: @color_accent_orange;
		}
	}
	.portfolio-load-more:hover span {
		color: @color_accent_orange;
	}
} 

.portfolio-header.style-centered {
	text-align: center;
	.filters a {
		margin: 0 15px;
	}
	h2, p {
		margin-bottom: 35px;
	}
}
.portfolio-gallery {
	.caption {
		.bottom-top-gradient( #111, #362f2d );
		color: #fff;
		text-align: center;
		.box-sizing();
		padding: 13%;
		a, h4 {
			color: #fff;
		}
		a:hover {
			color: @color_accent_green;
		}
		.tags {
			font-variant: small-caps;
		}
		.zoom {
			.img-post-zoom( #fff );
			background-size: 100% 100%;
			width: 65px;
			height: 65px;
			display: inline-block;
			margin-bottom: 35px;
		}
		.zoom:hover {
			.img-post-zoom( @color_accent_green );
		}
	}
}
@media screen and (max-width: 992px) {
	.portfolio-gallery {
		.caption {
			.tags {
				display: none;
			}
			h4 {
				.fontSize( 3.2 );
				line-height: 1.15em;
				margin-bottom: 10px;
			}
		}
	}
}
/*------------------------------------------------------------------
[6.16 Services section]
*/
.services {
	background-color: #f9f0e7;
	position: relative;
	.service-item {
		display: none;
		background-repeat: no-repeat;
		.transition( background-position 0.3s );
		background: url( ../images/demo-images/macbook.png ) -100% bottom no-repeat;
	}
	.service-item.selected {
		display: block;
		background-position: right 140% bottom;
	}
	.tab-content {
		padding: 230px 0;
	}
}
@media screen and (max-width: 1390px) {
	.services {
		.service-item.selected {
			background-position: right 220% bottom;
		}
	}
}
@media screen and (max-width: 1199px) {
	.services {
		.service-item {
			background-image: none !important;
		}
		.col-md-6 {
			margin-left: 0 !important;
			width: 100% !important;
		}
		.tab-content {
			padding: 150px 0;
		}
	}
}
.services-pagination {
	background-color: #f4e7d7;
	padding: 0 15px;
	text-align: center;
	font-size: 0;
	.tab-link {
		font-size: normal;
		.transition-all( .2s );
		padding: 40px 60px;
		display: inline-block;
		.box-sizing();
		span {
			font-variant: small-caps;
			.fontSize( 1.8 );
			color: @color_primary_text;
		}
		.icon {
			display: block;
			margin-bottom: 15px;
			background-size: 100% 100%;
			width: 100%;
			height: 42px;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	.tab-link.selected, .tab-link:hover {
		background-color: #f9f0e7;
	}
	
	.services-link-id-1 .icon {
		.img-service-ruler( @color_primary_text, @color_primary_text);
	}
	.services-link-id-1.selected .icon, .services-link-id-1:hover .icon {
		.img-service-ruler( @color_accent_pink, @color_accent_orange);
	}
	
	.services-link-id-2 .icon {
		.img-service-monitor( @color_primary_text, @color_primary_text);
	}
	.services-link-id-2.selected .icon, .services-link-id-2:hover .icon {
		.img-service-monitor( @color_accent_pink, @color_accent_orange);
	}
	
	.services-link-id-3 .icon {
		.img-service-hand( @color_primary_text, @color_primary_text);
	}
	.services-link-id-3.selected .icon, .services-link-id-3:hover .icon {
		.img-service-hand( @color_accent_pink, @color_accent_orange); 
	}
	
	.services-link-id-4 .icon {
		.img-service-settings( @color_primary_text, @color_primary_text);
	}
	.services-link-id-4.selected .icon, .services-link-id-4:hover .icon {
		.img-service-settings( @color_accent_pink, @color_accent_orange);
	}
}
@media screen and (max-width: 992px) {
	.services-pagination {
		.tab-link {
			padding: 30px 30px;
		}
	}
}
@media screen and (max-width: 680px) {
	.services-pagination {
		padding: 0 !important;
		.tab-link {
			width: 50%;
		}
	}
}
@media screen and (max-width: 380px) {
	.services-pagination {
		.tab-link {
			width: 100%;
		}
	}
}